body {
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 950px;
    height: 85px;
    margin: 0 auto;

    position: relative;

    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    margin-top: 1%;
    margin-bottom: 1%;
    background-position:10px 00px;
}
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.container{
    padding-right: 0;
    padding-left: 0;
    width: 950px;
}
.container .col-md-3{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.top-navigation{
    overflow: hidden;
    background-image: url('/images/topnav_bg.png') !important;
    background-repeat: repeat-x;
    background-size: contain;
    margin-bottom: 1%;
}
.topnav {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 0px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    filter:brightness(200%) !important;
}

.leftnavicon.icon, .topnav .icon {
    display: none;
}

#sidemenu {
	width:100%;
	padding:5px;
	margin:0 0 15px;
    background:url(/images/bg_menu.jpg) repeat 0 0;
}

#sidemenu dl {
	width:100%;
	padding:1px;
	background:#FFFFFF;
    display: block;
    margin: auto;
}
#sidemenu dl dt img, #sidemenu dl dd ul li, p.smenu a img, .mb10 a img{
    display: block;
    margin: auto;
}
#sidemenu dl dt {cursor:pointer;}
ul.menu {
	padding:1px;
	margin:0;
	margin:0;
	list-style: none;
	background:#FFF;
}
ul.menu li{
	padding:0;
	margin:0;
	width:208px;
	height:30px;
	background:url(/images/bg_smenu.jpg) no-repeat 0 0;
}

ul.menu a:link, ul.menu a:visited {
	display: block;
	width:188px;
	height:12px;
	padding:7px 0 11px 20px;
	color:#000;
	text-decoration:none;
}


ul.menu a:hover, ul.menu a:active {
	display: block;
	width:188px;
	height:12px;
	padding:7px 0 11px 20px;
	color:#069;
	text-decoration:none;
}

p.smenu {
	padding:0 0 1px 0px;
	margin:0;
	background:#FFFFFF;
}

.panel-danger .panel-heading{
    font-weight: bold;
    border-left: 8px solid #ad0815;
}
@media screen and (max-width: 991px) {
    
    .topnav a{display: none;}
    /* .topnav a:not(:first-child) {display: none;} */
    .topnav a.icon {
        float: right;
        display: block;
        margin: 5px;
        padding: 0 10px;
        font-size:2.5rem;
        background: rgb(240, 98, 98);
        border-radius: 5px;
    }
    .leftnavicon.icon{
        display: block;
        margin: 5px;
        padding: 0 10px;
        font-size:2.5rem;
        background: rgb(214, 44, 44);
        border-radius: 5px;
        width: 1.7em;
        color: #ffe8ea;
        text-decoration: none;
    }
}

@media screen and (max-width: 991px) {
    .header{
        width: 100%;
        height: 85px;
        margin: 0 auto;
    
        position: relative;
    
        background-image: url('/images/logo.png');
        background-repeat: no-repeat;
        margin-top: 1%;
        margin-bottom: 1%;
        background-position:10px 00px;
    }
    .topnav {
        width: 100%;
        position: relative;
    }
    .topnav a{
        padding: 0;
    }
    .topnav a:first-child{
        margin-top: 2%;
    }
    .topnav a:nth-child(3){
        margin-bottom: 2%;
    }
    .topnav a img{
        display:block;
        margin:auto;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .left-navigation.responsive .icon {
        position: relative;
        left: 0;
        top: 0;
    }
    .left-navigation.responsive {display: block !important; position: relative;}
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #sidemenu {
        width:auto !important;
        padding:5px;
        margin:0 0 15px;
        background:url(/images/bg_menu.jpg) repeat 0 0;
    }
    #sidemenu dl {
        width:auto;
        padding:1px;
        background:#FFFFFF;
        display: block;
        margin: auto;
    }

    .left-navigation{
        /* display: none; */
    }
    #sidemenu dl dt, p.smenu {
        border-bottom: dotted 1px #ad0815;
    }
    .container{
        width: 100%;
    }
    .container .col-md-3{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}